In [1]:
a=5
c=3.5E+06
d=3+5j
print(a,type(a))
print(c,type(c))
print(d,type(d))

5 <class 'int'>
3500000.0 <class 'float'>
(3+5j) <class 'complex'>

In [2]:
#Arithmetic overflow
print(5.5E400*3.5E500)

inf

In [3]:
#Arithmetic underflow
print(5.5E-500/4.5E600)

0.0

In [4]:
#Loss of Precision 
print(1/3)

0.3333333333333333

In [5]:
a=float(16/float(3))
print(a)
print(format(a,".2f"))

5.333333333333333
5.33

In [6]:
a=2**10
print(a)
print(format(a,".1e"))

1024
1.0e+03

In [7]:
a=123456789
print(a)
print(format(a,","))

123456789
123,456,789

In [8]:
#The format() function returns the numeric string of the floating value.

In [9]:
#Implicit type conversion
a=5*3.0
b=15/3.0
print(a,type(a))
print(b,type(b))

15.0 <class 'float'>
5.0 <class 'float'>

In [10]:
a=12//5#quotient
b=12%5#remainder
print(a)
print(b)

2
2

In [11]:
st1='py'
st2="Python"
st3='''Python 
Programming'''#multi-line string
print(st1,type(st1))
print(st2,type(st2))
print(st3,type(st3))

py <class 'str'>
Python <class 'str'>
Python
Programming <class 'str'>

In [12]:
#Concatenation of strings using +
a="log"
b="ic"
print(a+b)

logic

In [13]:
#Strings are immutable means we cannot modify
a="String"
a=a[2:]
print(a)
a[3]="o"
print(a)

ring

TypeError: 'str' object does not support item assignment

In [17]:
#Unicode string
a=u"अजगर"
print(a,type(a))
a=U"पाइथन"
print(a,type(a))

अजगर <class 'str'>
पाइथन <class 'str'>

In [19]:
a="What\'s your name?"
print(a)
b="Hi! \"I am Python.\""
print(b)

What's your name?
Hi! "I am Python."

In [20]:
a="Hello\tWorld"
print(a)

Hello	World

In [21]:
a="Welcome to the world of Python. \
Python is most popular programming language."
print(a)

Welcome to the world of Python. Python is most popular programming language.

In [22]:
a="\\PY\\"
print(a)
print("\a")#"\a" rings bell 
print("Hello\fPY")#"\f" form feed
print("Hello\nPY")#"\n" new line
print("Hello\tPY")#"\t" tab
a=0o7
b=0xA
print(a)
print(b)

\PY\

HelloPY
Hello
PY
Hello	PY
7
10

In [23]:
#Raw string
a=R"What\'s your name?"
print(a,type(a))

What\'s your name? <class 'str'>

In [24]:
#String formatting
print(format("Hello","<30"))#right-justified
print(format("Hello",">30"))#left-justified
print(format("Hello","^30"))#center-aligned

Hello
                         Hello
            Hello

In [25]:
print("Hello",format("-","-<10"),"World")

Hello ---------- World

In [26]:
#Python is a case-sensitive language.
#Python is a purely object-oriented language.
#Variable name cannot start with a number and we can only use underscore as the special character.
#In python, we do not require to give the data type explicitly as it is done dynamically or automatically.
#We can use the same variable to reassign the value to the variable.

In [27]:
#Multiple assignment with same value
a=b=c=5
print(a,b,c)
#Multiple assignment with different value
a,b,c=3,4,5
print(a,b,c)

5 5 5
3 4 5

In [28]:
#del is used to delete a variable
a=5
print(a)
del a
print(a)

5

NameError: name 'a' is not defined

In [29]:
#There are two types of lines in a program code-
#i)physical line-It is what we see while writing the program.
#ii)logical line-It is what we see as a single statement.
#Python assumes each physical line as a logical line.

In [30]:
a=True
b=False
print(a,type(a))
print(b,type(b))

True <class 'bool'>
False <class 'bool'>

In [31]:
#The input() function takes the input as a string always.
name=input("Enter your name:")
age=input("Enter your age:")
print(name,age)
print(type(name),type(age))

Enter your name: Vikram
Enter your age: 23

Vikram 23
<class 'str'> <class 'str'>

In [33]:
#Comments are non-executable statements and the interpreter simply ignores it.

In [34]:
#Pre-defined words or reserved keywords cannot be used for naming of an identifier or variable.

In [35]:
#Indentation are the whitespaces at the beginning of the line.
#Use a single tab for each indentation level.
#In Python, Indentation is used to associate and group statements in a block and gives error if it is not correct.
#All statements inside a block should be at the same indentation level.

In [36]:
name="Vikram"
age=21
    print(name,age)

IndentationError: unexpected indent (1677508618.py, line 3)

In [37]:
# ^ is a standard symbol that indicates where the error has occurred in the program.

In [38]:
#Operators are the constructs that are used to manipulate the value of operands.
#The operators are:

In [39]:
#Arithmetic operators
a,b=10,5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)
print(a%b)

15
5
50
2.0
2
100000
0

In [40]:
#Comparison or Relational operators
a,b=2,3
print(a==b)
print(a!=b)
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)

False
True
False
False
True
True

In [41]:
#Assignment or In-place or Shortcut operators
a,b=10,5
a+=b
print(a)
a-=b
print(a)
a*=b
print(a)
a/=b
print(a)
a**=b
print(a)
a//=b
print(a)
a%=b
print(a)

15
10
50
10.0
100000.0
20000.0
0.0

In [42]:
#Python does not support prefix and postfix increment or decrement operators.

In [43]:
#Unary operators
a,b=10,-a
print(a,b)

10 -0.0

In [44]:
#Bitwise operators expect their operands to be of integers and treat them as a sequence of bits.

In [45]:
#Bitwise operators
a,b=1,2
print(a&b)
print(a|b)
print(a^b)
print(~a)

0
3
3
-2

In [46]:
#Shift operators
#<< left shift bitwise operator
#>> right shift bitwise operator
a=3
print(a<<2)
a=0x3
print(a<<2)
a=0x3
print(a>>2)
a=0x12
print(a<<2)
a=0x12
print(a>>2)

12
12
0
72
4

In [47]:
#In case of arithmetic expression, logical expressions are evaluated from left to right.

In [48]:
#Logical operators
a,b,c,d=1,2,3,4
print((d>a)and(d>b))
print((b>a)or(b>c))
print(not a)
print(not b)
x=0
print(not x)

True
True
False
False
True

In [49]:
#Membership operators

In [50]:
l=[1,2,3]
print(1 in l)
print(4 in l)
print(3 not in l)
print(5 not in l)

True
False
False
True

In [51]:
#Identity operators

In [52]:
a=5
b=5
print(a is b)
c=10
print(a is c)
print(a is not b) 
print(a is not c)
print(id(a))
print(id(b))
print(id(c))

True
False
False
True
140732285305768
140732285305768
140732285305928

In [53]:
#Precedency of operators and associativity is from left to right
"""
**
~,+,-
*,/,%,//
+,-
>>,<<
&
^,|
<=,<,>,>=
==,!=
=,%=,/=,//=,-=,+=,*=,**=
is,is not
in,not in
not,or,and
"""

'\n**\n~,+,-\n*,/,%,//\n+,-\n>>,<<\n&\n^,|\n<=,<,>,>=\n==,!=\n=,%=,/=,//=,-=,+=,*=,**=\nis,is not\nin,not in\nnot,or,and\n'

In [54]:
#Parantheses () can change the priority of the operators.

In [55]:
#Python follows BEDMAS rule.

In [56]:
#String repetition using *
a="Bye!"
print(a*3)

Bye!Bye!Bye!

In [57]:
#Slicing and indexing in string
a="Python"
print(a[0])
print(a[len(a)-1])
print(a[0:2:1])
print(a[:-3:-1])
print(a[::-1])
print(a[2:4:1])

P
n
Py
no
nohtyP
th

In [58]:
#Tuple is a data structure in python similar to list but it is immutable means we cannot modify the data inside it.

In [59]:
t1=(1,2,3)
t2=(4,5)
print(t1,type(t1))
print(t2,type(t2))
print(t1+t2)
print(t1*2)
print(t1[0])
print(t1[len(t1)-1])
print(t1[1:2:1])
print(t1[::-1])

(1, 2, 3) <class 'tuple'>
(4, 5) <class 'tuple'>
(1, 2, 3, 4, 5)
(1, 2, 3, 1, 2, 3)
1
3
(2,)
(3, 2, 1)

In [60]:
t1[0]=0
print(t1)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#List is a data structure in python similar to tuple but it is mmutable means we can modify the data inside it.

In [61]:
l1=[1,2,3]
l2=[4,5]
print(l1,type(l1))
print(l2,type(l2))
print(l1+l2)
print(l1*2)
print(l1[0])
print(l1[len(l1)-1])
print(l1[1:2:1])
print(l1[::-1])

[1, 2, 3] <class 'list'>
[4, 5] <class 'list'>
[1, 2, 3, 4, 5]
[1, 2, 3, 1, 2, 3]
1
3
[2]
[3, 2, 1]

In [62]:
l1[0],l1[1],l1[2]=0,1,2
print(l1)

[0, 1, 2]

In [63]:
#Dictionary is a data structure in python is a key-value pair. It is mutable and is used for fast retrieval of data.

In [64]:
d1={"Python":1,"R":2,"SQL":3}
print(d1,type(d1))
print(d1.items())
print(d1.keys())
print(d1.values())
print(d1["SQL"])
d1["Python"]=0
d1["R"]=1
d1["SQL"]=2
print(d1)

{'Python': 1, 'R': 2, 'SQL': 3} <class 'dict'>
dict_items([('Python', 1), ('R', 2), ('SQL', 3)])
dict_keys(['Python', 'R', 'SQL'])
dict_values([1, 2, 3])
3
{'Python': 0, 'R': 1, 'SQL': 2}

In [65]:
#Dictionary does not support slicing.

In [67]:
#Type casting
a=3.2
print(int(a))
a="A"
print(ord(a))
a=97
print(chr(a))
a="0123456789"
print(tuple(a))
print(list(a))
print(set(a))
a=5
print(oct(a))
print(hex(a))
a="123"
print(int(a))
print(float(a))

3
65
a
('0', '1', '2', '3', '4', '5', '6', '7', '8', '9')
['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
{'5', '4', '6', '1', '7', '9', '3', '0', '2', '8'}
0o5
0x5
123
123.0

In [68]:
print(int(2.90))
print(round(2.90))

2
3

In [69]:
# To see a list of functions of a data structure then type the keyword of data structure then press(.) and tab.
# To understand a particular function then use help(function_name) function.

In [70]:
n=int(input("Enter a number:"))
o=oct(n)
h=hex(n)
r=n**0.5
print("Octal:",o,"\n","Hexa:",h,"\n","Root:",r)

Enter a number: 5

Octal: 0o5
 Hexa: 0x5
 Root: 2.23606797749979

In [71]:
a=int(input("Enter the first side:"))
b=int(input("Enter the second side:"))
c=int(input("Enter the third side:"))
s=(a+b+c)/2
h=(s*(s-a)*(s-b)*(s-c))**0.5
print("Area:",h)

Enter the first side: 3
Enter the second side: 5
Enter the third side: 7

Area: 6.49519052838329

In [72]:
x1=int(input("Enter the abscissa of first coordinate:"))
y1=int(input("Enter the ordinate of first coordinate:"))
x2=int(input("Enter the abscissa of second coordinate:"))
y2=int(input("Enter the ordinate of second coordinate:"))
print(x1,y1)
print(x2,y2)
d=(((x2-x1)**2)-((y2-y1)**2))**0.5
print("Distance:",d)

Enter the abscissa of first coordinate: 2
Enter the ordinate of first coordinate: 4
Enter the abscissa of second coordinate: 8
Enter the ordinate of second coordinate: 10

2 4
8 10
Distance: 0.0

In [73]:
r=eval(input("Enter the radius:"))
a=(22.0/7.0)*(r**2)
print("Area:",a)

Enter the radius: 8

Area: 201.14285714285714

In [74]:
n1=eval(input("Enter the first number:"))
n2=eval(input("Enter the second number:"))
avg=(n1+n2)/2.0
print("Average:",avg)
d1=n1-avg
d2=n2-avg
print("Deviation of n1 is:",d1,"\n","Deviation of n2 is:",d2)

Enter the first number: 4
Enter the second number: 8

Average: 6.0
Deviation of n1 is: -2.0
 Deviation of n2 is: 2.0

In [75]:
c=eval(input("Enter the temperature in celsius:"))
f=(9.0/5.0)*c+32
k=c+273
print("Celsius:",c)
print("Farenheit:",f)
print("Kelvin:",k)

Enter the temperature in celsius: 67

Celsius: 67
Farenheit: 152.60000000000002
Kelvin: 340

In [76]:
q=eval(input("Enter the quantity of item:"))
p=eval(input("Enter the price of each item:"))
amt=q*p
d=eval(input("Enter the discount percentage:"))
d_amt=(amt*d)/100.0
amt_after_d=amt-d_amt
t=eval(input("Enter the tax rate:"))
t_amt=(amt_after_d*t)/100.0
total_amt=amt_after_d+t_amt
print("Quantity:",q)
print("Price:",p)
print("Amount:",amt)
print("Discount:",d)
print("Discout amount:",d_amt)
print("Amount after discount:",amt_after_d)
print("Tax rate:",t)
print("Tax amount:",t_amt)
print("Total amount:",total_amt)

Enter the quantity of item: 100
Enter the price of each item: 10
Enter the discount percentage: 10
Enter the tax rate: 10

Quantity: 100
Price: 10
Amount: 1000
Discount: 10
Discout amount: 100.0
Amount after discount: 900.0
Tax rate: 10
Tax amount: 90.0
Total amount: 990.0

In [87]:
st="PYTHON"
print(st)
st=st.lower()
print(st)

PYTHON
python

In [88]:
a,b=5,6
temp=a
a=b
b=temp
print(a,b,temp)

6 5 5

In [89]:
p=eval(input("Enter the principal:"))
r=eval(input("Enter the rate:"))
t=eval(input("Enter the time:"))
si=(p*r*t)/100.0
amt=p*((1+(r/100.0))**t)
ci=amt-p
print("Principal:",p,"\nRate:",r,"\nTime:",t)
print("Simple interest:",si,"\nAmount:",amt,"\nCompound interest:",ci)

Enter the principal: 1000
Enter the rate: 10
Enter the time: 1

Principal: 1000
Rate: 10
Time: 1
Simple interest: 100.0
Amount: 1100.0
Compound interest: 100.0

In [91]:
bp=eval(input("Enter the basic pay:"))
hra=0.10*bp
ta=0.05*bp
sal=bp+hra+ta
print("Basic pay:",bp,"\nHRA:",hra,"\nTA:",ta,"\nSalary:",sal)

Enter the basic pay: 1000

Basic pay: 1000
HRA: 100.0
TA: 50.0
Salary: 1150.0

In [96]:
q1=eval(input("Enter the quantity of wheat:"))
up1=eval(input("Enter the price unit of wheat:"))
q2=eval(input("Enter the quantity of rice:"))
up2=eval(input("Enter the price unit of rice:"))
q3=eval(input("Enter the quantity of dal:"))
up3=eval(input("Enter the price unit of dal:"))
print("**********BILL**********")
print("Item Name","\t","Item Quantity","\t\t","Item Price")
print("WHEAT","\t\t",q1,"\t\t\t",up1*q1)
print("RICE","\t\t",q2,"\t\t\t",up2*q2)
print("DAL","\t\t",q3,"\t\t\t",up3*q3)
print("************************")
print("Total amount to be paid:",(up1*q1+up2*q2+up3*q3))

Enter the quantity of wheat: 10
Enter the price unit of wheat: 30
Enter the quantity of rice: 10
Enter the price unit of rice: 50
Enter the quantity of dal: 10
Enter the price unit of dal: 100

**********BILL**********
Item Name 	 Item Quantity 		 Item Price
WHEAT 		 10 			 300
RICE 		 10 			 500
DAL 		 10 			 1000
************************
Total amount to be paid: 1800

In [98]:
m=eval(input("Enter the mass in kilograms:"))
c=eval(input("Enter the velocity in m/s:"))
e=m*(pow(c,2))
print("Mass:",m,"Kg","\nVelocity:",c,"m/s","\nMomentum:",e,"Kgm/s")

Enter the mass in kilograms: 10
Enter the velocity in m/s: 20

Mass: 10 Kg
Velocity: 20 m/s
Momentum: 4000 Kgm/s

In [99]:
d=eval(input("Enter the number of days:"))
hr=24*d
min=60*hr
sec=60*min
print("Days:",d,"\nHours:",hr,"\nMinutes:",min,"\nSeconds:",sec)

Enter the number of days: 1

Days: 1
Hours: 24
Minutes: 1440
Seconds: 86400