In [4]:
l=[1,2,3,4,5]
print(l,type(l))
print("First element:",l[0])
print("Last element:",l[len(l)-1])
print("First 3 elements:",l[0:3:1])
print("Last 3 elements:",l[-1:-4:-1])
print("All elements:",l[::])
print("Elements in reverse order:",l[::-1])

[1, 2, 3, 4, 5] <class 'list'>
First element: 1
Last element: 5
First 3 elements: [1, 2, 3]
Last 3 elements: [5, 4, 3]
All elements: [1, 2, 3, 4, 5]
Elements in reverse order: [5, 4, 3, 2, 1]

In [62]:
#Data Structure: List
#Property: Mutable
#Storage: Similar or different or both data type elements

In [14]:
l=[2,4,]
print(l)
l.insert(0,1)
print(l)
l.insert(2,3)
print(l)
l.append(5)
print(l)
l.append(6)
print(l)
l.insert(0,0)
print(l)
del l[0]
print(l)
del l[len(l)-1]
print(l)
del l[0:3:1]
print(l)
l.remove(4)
print(l)
l.remove(5)
print(l)

[2, 4]
[1, 2, 4]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]
[4, 5]
[5]
[]

In [15]:
l=[1,2,3]
print(l)
del l
print(l)

[1, 2, 3]

NameError: name 'l' is not defined

In [23]:
l=[1,2]
print(l)
l.insert(len(l)-1,3)
print(l)
l.insert(len(l)-1,[4,5])
print(l)
l[1]=2
print(l)
l[2]=3
print(l)
l[len(l)-1]=[4,5]
print(l)
l[len(l)-1][-1]=[6,7]
print(l)
l[len(l)-1][-2]=[4,5]
print(l)

[1, 2]
[1, 3, 2]
[1, 3, [4, 5], 2]
[1, 2, [4, 5], 2]
[1, 2, 3, 2]
[1, 2, 3, [4, 5]]
[1, 2, 3, [4, [6, 7]]]
[1, 2, 3, [[4, 5], [6, 7]]]

In [71]:
l1=[1,2,3]
print(l1,type(l1))
l1.append(4)
print(l1)
l1.insert(0,0)
print(l1)
l1.insert(5,len(l1))
print(l1)
l1.insert(len(l1)-1,6)
print(l1)

[1, 2, 3] <class 'list'>
[1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 6, 5]

In [27]:
n=eval(input("Enter the number of elements:"))
l=[]
for i in range(0,n,1):
    e=eval(input("Enter element:"))
    print(e,"is inserted at index=",i)
    l.insert(i,e)
    print("List:",l)

Enter the number of elements: 3
Enter element: 1

1 is inserted at index= 0
List: [1]

Enter element: 2

2 is inserted at index= 1
List: [1, 2]

Enter element: 3

3 is inserted at index= 2
List: [1, 2, 3]

In [28]:
n=eval(input("Enter the number of elements:"))
l=[]
for i in range(0,n,1):
    e=eval(input("Enter element:"))
    print(e,"is inserted at index=",i)
    l.insert(i,e)
    print("List:",l)
print("Elements are:")
for i in range(0,len(l),1):
    print("List[",i,"]:",l[i])

Enter the number of elements: 5
Enter element: 1

1 is inserted at index= 0
List: [1]

Enter element: 1.5

1.5 is inserted at index= 1
List: [1, 1.5]

Enter element: 1+2j

(1+2j) is inserted at index= 2
List: [1, 1.5, (1+2j)]

Enter element: "List"

List is inserted at index= 3
List: [1, 1.5, (1+2j), 'List']

Enter element: [1,2,3]

[1, 2, 3] is inserted at index= 4
List: [1, 1.5, (1+2j), 'List', [1, 2, 3]]
Elements are:
List[ 0 ]: 1
List[ 1 ]: 1.5
List[ 2 ]: (1+2j)
List[ 3 ]: List
List[ 4 ]: [1, 2, 3]

In [30]:
#Cloning
l=eval(input("Enter list:"))
m=l
print(l,m)
n=m[0:3:1]
print(l,m,n)

Enter list: [1,2,3,4,5]

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5]
[1, 2, 3, 4, 5] [1, 2, 3, 4, 5] [1, 2, 3]

In [35]:
l=["Hello","Welcome to python!"]
print(l,type(l))
print(type(l[0]))
print(len(l))

['Hello', 'Welcome to python!'] <class 'list'>
<class 'str'>
2

In [49]:
l1,l2=[1,2,3],[4,5]
print(l1,l2)
print(l1+l2)
print(l1*2)
print(l1[(len(l1)-1)]*2)
print(1 in l1)
print(5 in l1)
print(1 not in l2)
print(5 not in l2)
print(max(l1))
print(min(l1))
print(sum(l1))
print(l1 is l2)
print(l1 is not l2)
l3=[0,1]
print(l3)
print(all(l1),all(l2))
print(all(l3))
print(any(l1),any(l2))
print(any(l3))
l4=[0]
print(l4,all(l4),any(l4))

[1, 2, 3] [4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 1, 2, 3]
6
True
False
True
False
3
1
6
False
True
[0, 1]
True True
False
True True
True
[0] False False

In [56]:
l1=[5,4,3,2,1]
print(l1,sorted(l1))
print(l1)
l1.sort()
print(l1)
l1.sort(reverse=False)
print(l1)
l1.sort(reverse=True)
print(l1)

[5, 4, 3, 2, 1] [1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [64]:
t=(1,2,3,4,5)
print(t,type(t))
s={1,2,3,4,5}
print(s,type(s))
st="list"
print(st,type(st))
print(list(t))
print(list(s))
print(list(st))
d={"1":1,"2":2,"3":3}
print(d,type(d))
print(d.keys(),d.values())
print(d.items())
print(list(d.keys()))
print(list(d.values()))
print(list(d.items()))
print(list(d))

(1, 2, 3, 4, 5) <class 'tuple'>
{1, 2, 3, 4, 5} <class 'set'>
list <class 'str'>
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
['l', 'i', 's', 't']
{'1': 1, '2': 2, '3': 3} <class 'dict'>
dict_keys(['1', '2', '3']) dict_values([1, 2, 3])
dict_items([('1', 1), ('2', 2), ('3', 3)])
['1', '2', '3']
[1, 2, 3]
[('1', 1), ('2', 2), ('3', 3)]
['1', '2', '3']

In [75]:
l1=[1,1,1,2,3,3]
print(l1.count(1))
print(l1.index(3))

3
4

In [80]:
l1=[1,2,3,4,5]
l2=[6,7,8,9]
l1.extend(l2)
print(l1)
l1.pop()
print(l1)
l1.pop(6)
print(l1)
l1.remove(8)
print(l1)
l1.remove(6)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 8]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

In [84]:
#Cloning
l=eval(input("Enter list:"))
m=l
print(l,m)
n=m[0:3:1]
print(l,m,n)
m=m[0:3]
print(l,m)
#aliasing
l=eval(input("Enter list:"))
m=l
print(id(l),id(m))
l=l[0:3]
print(l,m)
print(id(l),id(m))

Enter list: [1,2,3,4,5]

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5]
[1, 2, 3, 4, 5] [1, 2, 3, 4, 5] [1, 2, 3]
[1, 2, 3, 4, 5] [1, 2, 3]

Enter list: [1,2,3,4,5]

2497604137600 2497604137600
[1, 2, 3] [1, 2, 3, 4, 5]
2497604131776 2497604137600

In [86]:
st="string"
l1=list(st)
print(st,l1)
l1[0:2:1]=[]
print(l1)

string ['s', 't', 'r', 'i', 'n', 'g']
['r', 'i', 'n', 'g']

In [10]:
#Data structure: Stack
#Principle: LIFO(Last In First Out)
#Implemented by: List
#Use: System stack or Call stack
#Operations: push(), pop(), peep() or peek()

In [2]:
stack=eval(input("Enter stack in list form:"))
print("Stack:")
for i in range(len(stack)-1,-1,-1):
    print("stack[",i,"]:",stack[i])
print("***Push operation on stack***")
n=eval(input("Enter number of elements to push:"))
l=len(stack)
for i in range(0,n,1):
    e=eval(input("Enter element:"))
    stack.append(e)
    print("stack[",l,"]:",e)
    l=l+1
print("Stack:")
for i in range(len(stack)-1,-1,-1):
    print("stack[",i,"]:",stack[i])
print("***Pop operation on stack***")
n=eval(input("Enter number of elements to pop:"))
l=len(stack)-1
for i in range(0,n,1):
    e=stack.pop()
    print(e,"is popped out from top of the stack[",l,"]")
    l=l-1
print("***Peep operation on stack***")
e=stack[len(stack)-1]
print(e,"is at the top of the stack[",len(stack)-1,"]")

Enter stack in list form: [1,2]

Stack:
stack[ 1 ]: 2
stack[ 0 ]: 1
***Push operation on stack***

Enter number of elements to push: 2
Enter element: 3

stack[ 2 ]: 3

Enter element: 4

stack[ 3 ]: 4
Stack:
stack[ 3 ]: 4
stack[ 2 ]: 3
stack[ 1 ]: 2
stack[ 0 ]: 1
***Pop operation on stack***

Enter number of elements to pop: 1

4 is popped out from top of the stack[ 3 ]
***Peep operation on stack***
3 is at the top of the stack[ 2 ]

In [9]:
st="yes"
while st=="yes":
    ch=eval(input("Enter your choice:\n1 for creating stack\t2 for Push\t3 for Pop\t4 for Peep\t5 for displaying stack"))
    if ch==1:
        stack=eval(input("Enter stack in list form:"))
    elif ch==2:
        n=eval(input("Enter number of elements to push:"))
        l=len(stack)
        for i in range(0,n,1):
            e=eval(input("Enter element:"))
            stack.append(e)
            print("stack[",l,"]:",e)
            l=l+1
    elif ch==3:
        n=eval(input("Enter number of elements to pop:"))
        l=len(stack)-1
        for i in range(0,n,1):
            e=stack.pop()
            print(e,"is popped out from top of the stack[",l,"]")
            l=l-1
    elif ch==4:
        e=stack[len(stack)-1]
        print(e,"is at the top of the stack[",len(stack)-1,"]")
    elif ch==5:
        print("Stack:")
        for i in range(len(stack)-1,-1,-1):
            print("stack[",i,"]:",stack[i])
    else:
        print("Invalid choice!")
    st=eval(input("Enter yes/no within double quotes for continue:"))

Enter your choice:
1 for creating stack	2 for Push	3 for Pop	4 for Peep	5 for displaying stack 1
Enter stack in list form: []
Enter yes/no within double quotes for continue: "yes"
Enter your choice:
1 for creating stack	2 for Push	3 for Pop	4 for Peep	5 for displaying stack 2
Enter number of elements to push: 3
Enter element: 1

stack[ 0 ]: 1

Enter element: 2

stack[ 1 ]: 2

Enter element: 3

stack[ 2 ]: 3

Enter yes/no within double quotes for continue: "yes"
Enter your choice:
1 for creating stack	2 for Push	3 for Pop	4 for Peep	5 for displaying stack 5

Stack:
stack[ 2 ]: 3
stack[ 1 ]: 2
stack[ 0 ]: 1

Enter yes/no within double quotes for continue: "yes"
Enter your choice:
1 for creating stack	2 for Push	3 for Pop	4 for Peep	5 for displaying stack 3
Enter number of elements to pop: 2

3 is popped out from top of the stack[ 2 ]
2 is popped out from top of the stack[ 1 ]

Enter yes/no within double quotes for continue: "yes"
Enter your choice:
1 for creating stack	2 for Push	3 for Pop	4 for Peep	5 for displaying stack 5

Stack:
stack[ 0 ]: 1

Enter yes/no within double quotes for continue: "yes"
Enter your choice:
1 for creating stack	2 for Push	3 for Pop	4 for Peep	5 for displaying stack 4

1 is at the top of the stack[ 0 ]

Enter yes/no within double quotes for continue: "no"

In [11]:
#Data structure: Queue
#Principle: FIFO(First In First Out)
#Implemented by: List
#Use: Operating system
#Operations: insert(), delete(), peep() or peek()

In [21]:
queue=eval(input("Enter queue in list form:"))
print("Queue:")
for i in range(0,len(queue),1):
    print("queue[",i,"]:",queue[i])
print("***Insert operation on queue***")
n=eval(input("Enter number of elements to insert:"))
l=len(queue)
for i in range(0,n,1):
    e=eval(input("Enter element:"))
    queue.insert(len(queue),e)
    print("queue[",l,"]:",e)
    l=l+1
print("Queue:")
for i in range(0,len(queue),1):
    print("queue[",i,"]:",queue[i])
print("***Delete operation on queue***")
n=eval(input("Enter number of elements to delete:"))
for i in range(0,n,1):
    e=queue.pop(0)
    print(e,"is deleted from front of the queue[",0,"]")
print("Queue:")
for i in range(0,len(queue),1):
    print("queue[",i,"]:",queue[i])
print("***Peep operation on queue***")
e=queue[len(queue)-1]
print(e,"is at the rear of the queue[",len(queue)-1,"]")

Enter queue in list form: []

Queue:
***Insert operation on queue***

Enter number of elements to insert: 3
Enter element: 1

queue[ 0 ]: 1

Enter element: 2

queue[ 1 ]: 2

Enter element: 3

queue[ 2 ]: 3
Queue:
queue[ 0 ]: 1
queue[ 1 ]: 2
queue[ 2 ]: 3
***Delete operation on queue***

Enter number of elements to delete: 1

1 is deleted from front of the queue[ 0 ]
Queue:
queue[ 0 ]: 2
queue[ 1 ]: 3
***Peep operation on queue***
3 is at the rear of the queue[ 1 ]

In [22]:
st="yes"
while st=="yes":
    ch=eval(input("Enter your choice:\n1 for creating queue\t2 for Insert\t3 for Delete\t4 for Peep\t5 for displaying queue"))
    if ch==1:
        queue=eval(input("Enter queue in list form:"))
    elif ch==2:
        n=eval(input("Enter number of elements to insert:"))
        l=len(queue)
        for i in range(0,n,1):
            e=eval(input("Enter element:"))
            queue.insert(len(queue),e)
            print("queue[",l,"]:",e)
            l=l+1
    elif ch==3:
        n=eval(input("Enter number of elements to delete:"))
        for i in range(0,n,1):
            e=queue.pop(0)
            print(e,"is deleted from front of the queue[",0,"]")
    elif ch==4:
        e=queue[len(queue)-1]
        print(e,"is at the rear of the queue[",len(queue)-1,"]")
    elif ch==5:
        print("Queue:")
        for i in range(0,len(queue),1):
            print("queue[",i,"]:",queue[i])
    else:
        print("Invalid choice!")
    st=eval(input("Enter yes/no within double quotes for continue:"))

Enter your choice:
1 for creating queue	2 for Insert	3 for Delete	4 for Peep	5 for displaying queue 1
Enter queue in list form: []
Enter yes/no within double quotes for continue: "yes"
Enter your choice:
1 for creating queue	2 for Insert	3 for Delete	4 for Peep	5 for displaying queue 2
Enter number of elements to insert: 5
Enter element: 1

queue[ 0 ]: 1

Enter element: 2

queue[ 1 ]: 2

Enter element: 3

queue[ 2 ]: 3

Enter element: 4

queue[ 3 ]: 4

Enter element: 5

queue[ 4 ]: 5

Enter yes/no within double quotes for continue: "yes"
Enter your choice:
1 for creating queue	2 for Insert	3 for Delete	4 for Peep	5 for displaying queue 5

Queue:
queue[ 0 ]: 1
queue[ 1 ]: 2
queue[ 2 ]: 3
queue[ 3 ]: 4
queue[ 4 ]: 5

Enter yes/no within double quotes for continue: "yes"
Enter your choice:
1 for creating queue	2 for Insert	3 for Delete	4 for Peep	5 for displaying queue 3
Enter number of elements to delete: 2

1 is deleted from front of the queue[ 0 ]
2 is deleted from front of the queue[ 0 ]

Enter yes/no within double quotes for continue: "yes"
Enter your choice:
1 for creating queue	2 for Insert	3 for Delete	4 for Peep	5 for displaying queue 5

Queue:
queue[ 0 ]: 3
queue[ 1 ]: 4
queue[ 2 ]: 5

Enter yes/no within double quotes for continue: "yes"
Enter your choice:
1 for creating queue	2 for Insert	3 for Delete	4 for Peep	5 for displaying queue 4

5 is at the rear of the queue[ 2 ]

Enter yes/no within double quotes for continue: "no"

In [24]:
l1,l2=[],list()
print(l1,type(l1))
print(l2,type(l2))

[] <class 'list'>
[] <class 'list'>

In [28]:
l1=[x**2 for x in range(0,10+1,1)]
print(l1)
l1=[x**2 for x in range(0,10+1,1) if x%2==0]
print(l1)
l1=[(x,y) for x in range(1,3+1,1) for y in range(1,3+1,1) if x!=y]
print("Non-diagonal elements:",l1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, 4, 16, 36, 64, 100]
Non-diagonal elements: [(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [31]:
l1=[1,2,3]
print(list(enumerate(l1)))
st="string"
print(list(enumerate(st)))

[(0, 1), (1, 2), (2, 3)]
[(0, 's'), (1, 't'), (2, 'r'), (3, 'i'), (4, 'n'), (5, 'g')]

In [32]:
l1=eval(input("Enter list:"))
s=sum(l1)
l=len(l1)
avg=(s/l)
print("Average of elements:",avg)

Enter list: [1,2,3,4,5]

Average of elements: 3.0

In [34]:
l1=eval(input("Enter list:"))
for index,element in list(enumerate(l1)):
    print(index,element)

Enter list: [1,2,3]

0 1
1 2
2 3

In [38]:
l1=[1,2,3,4,5]
print(l1)
i=iter(l1)
print(next(i))
print(next(i))

[1, 2, 3, 4, 5]
1
2

In [41]:
l1=eval(input("Enter list:"))
it=iter(l1)
for i in range(0,len(l1),1):
    print("l1[",i,"]:",next(it))
print()
for i in range(0,len(l1),1):
    print("l1[",i,"]:",l1[i])

Enter list: [1,2,3]

l1[ 0 ]: 1
l1[ 1 ]: 2
l1[ 2 ]: 3

l1[ 0 ]: 1
l1[ 1 ]: 2
l1[ 2 ]: 3

In [57]:
def f(e):
    if e%2==0:
        return True
    else:
        return False
m=eval(input("Enter start:"))
n=eval(input("Enter end:"))
e=range(m,n+1)
even=list(filter(f,e))
print(even)

Enter start: 0
Enter end: 9

[0, 2, 4, 6, 8]

In [56]:
e=range(0,5+1,1)
l1=list(e)
print(l1)
t1=tuple(e)
print(t1)
s1=set(e)
print(s1)
st1=str(e)
print(st1)

[0, 1, 2, 3, 4, 5]
(0, 1, 2, 3, 4, 5)
{0, 1, 2, 3, 4, 5}
range(0, 6)

In [60]:
def f(e):
    if e%2==0:
        return e
    else:
        return "odd"
l1=eval(input("Enter list:"))
even=list(map(f,l1))
print(even)

Enter list: [0,1,2,3,4,5,6,7,8,9]

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

In [64]:
def f(e1,e2):
    return e1+e2
l1=eval(input("Enter list:"))
l2=eval(input("Enter list:"))
l3=list(map(f,l1,l2))
print(l3)

Enter list: [1,2,3]
Enter list: [4,5,6]

[5, 7, 9]

In [67]:
import functools as ft
def f(e1,e2):
    return e1+e2
l1=eval(input("Enter list:"))
l2=ft.reduce(f,l1)
print(l2)

Enter list: [1,2,3,4,5]

15

In [68]:
import functools as ft
def f(e1,e2):
    return e1+e2
l1=eval(input("Enter list:"))
l2=ft.reduce(f,l1)
print(l2)

Enter list: [1]

1

In [1]:
l1=eval(input("Enter list:"))
l2=[]
for i in l1:
    if i%2==0:
        l2.append(i)
print(l1,l2)

Enter list: [x for x in range(1,20+1,1)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
def f(e):
    return e**2
square=list(map(f,range(1,11)))
s=sum(square)
print(square,s)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100] 385

In [11]:
brics=eval(input("Enter BRICS member:"))
print(brics)
country=eval(input("Enter country in list:"))
def f(c):
    if c in brics:
        return "Member of brics"
    else:
        return "Non-Member of brics"
member=list(map(f,country))
print(member)

Enter BRICS member: ["Brazil","Russia","India","China","South Africa"]

['Brazil', 'Russia', 'India', 'China', 'South Africa']

Enter country in list: ["USA","China","Russia","France"]

['Non-Member of brics', 'Member of brics', 'Member of brics', 'Non-Member of brics']

In [14]:
l1=eval(input("Enter list:"))
print(l1)
for index,element in enumerate(l1):
    #print((index,element),end=" ")
    if element%2==0:
        del l1[index]
print(l1)

Enter list: [1,2,3,4,5]

[1, 2, 3, 4, 5]
[1, 3, 5]

In [16]:
l1=eval(input("Enter list:"))
print(l1)
val=eval(input("Enter value:"))
c=0
for i in range(0,len(l1),1):
    if val==l1[i]:
        c=c+1
        print(val,"is present at index=",i)
print(val,"is occurred",c,"times")

Enter list: [1,1,1,2,2,2,2,3,3]

[1, 1, 1, 2, 2, 2, 2, 3, 3]

Enter value: 2

2 is present at index= 3
2 is present at index= 4
2 is present at index= 5
2 is present at index= 6
2 is occurred 4 times

In [19]:
l1=eval(input("Enter words in list:"))
l2=eval(input("Enter words in list:"))
wl=list()
for i in l1:
    for j in l2:
        wl.append(i+j)
print("List of combining words:\n",wl)
wl=[]
for i in range(0,len(l1),1):
    for j in range(0,len(l2),1):
        if i==j:
            wl.append(l1[i]+l2[j])
print("List of combining words:\n",wl)

Enter words in list: ["Hello","World"]
Enter words in list: ["Python","Programming"]

List of combining words:
 ['HelloPython', 'HelloProgramming', 'WorldPython', 'WorldProgramming']
List of combining words:
 ['HelloPython', 'WorldProgramming']

In [21]:
l1=eval(input("Enter words in list:"))
print(l1)
fwl=list()
for i in range(0,len(l1),1):
    fwl.append(l1[i][0])
print("First character of each word:",fwl)

Enter words in list: ["Apple","Mango","Banana","Litchi","Pineapple"]

['Apple', 'Mango', 'Banana', 'Litchi', 'Pineapple']
First character of each word: ['A', 'M', 'B', 'L', 'P']

In [39]:
l1=eval(input("Enter list:"))
print(l1)
l1.reverse()
print(l1)
l1.sort(reverse=False)
print(l1)
l1.sort(reverse=True)
print(l1)

Enter list: [1,2,3]

[1, 2, 3]
[3, 2, 1]
[1, 2, 3]
[3, 2, 1]

In [41]:
l1=eval(input("Enter list:"))
print(l1)
l1.sort()
print(l1)
nl=[]
for i in l1:
    if i not in nl:
        nl.append(i)
print(nl)

Enter list: [4,3,2,1,4,3,2,1]

[4, 3, 2, 1, 4, 3, 2, 1]
[1, 1, 2, 2, 3, 3, 4, 4]
[1, 2, 3, 4]

In [44]:
import random
l1=[]
for i in range(0,100+1,1):
    e=random.randint(0,100)
    l1.append(e)
print("List:",l1)
el,ol=list(),list()
for i in l1:
    if i%2==0:
        el.append(i)
    else:
        ol.append(i)
print("Even list:",el)
print("Odd list:",ol)

List: [97, 94, 81, 67, 18, 11, 46, 80, 71, 23, 52, 5, 97, 99, 83, 64, 75, 22, 42, 20, 89, 10, 91, 16, 97, 37, 36, 42, 44, 84, 40, 41, 11, 66, 36, 18, 56, 61, 9, 67, 2, 71, 65, 25, 100, 30, 95, 69, 96, 12, 65, 95, 0, 25, 26, 71, 32, 49, 7, 46, 27, 3, 66, 41, 17, 8, 99, 49, 44, 61, 23, 97, 60, 89, 0, 23, 50, 76, 76, 85, 54, 64, 67, 61, 2, 94, 30, 8, 52, 86, 13, 64, 4, 90, 88, 78, 15, 74, 74, 35, 48]
Even list: [94, 18, 46, 80, 52, 64, 22, 42, 20, 10, 16, 36, 42, 44, 84, 40, 66, 36, 18, 56, 2, 100, 30, 96, 12, 0, 26, 32, 46, 66, 8, 44, 60, 0, 50, 76, 76, 54, 64, 2, 94, 30, 8, 52, 86, 64, 4, 90, 88, 78, 74, 74, 48]
Odd list: [97, 81, 67, 11, 71, 23, 5, 97, 99, 83, 75, 89, 91, 97, 37, 41, 11, 61, 9, 67, 71, 65, 25, 95, 69, 65, 95, 25, 71, 49, 7, 27, 3, 41, 17, 99, 49, 61, 23, 97, 89, 23, 85, 67, 61, 13, 15, 35]

In [45]:
l1=[]
n=eval(input("Enter number of odd elements:"))
for i in range(0,(2*n+1),1):
    if i%2!=0:
        l1.append(i)
print("Odd list:",l1)

Enter number of odd elements: 20

Odd list: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [47]:
l1=[2*i+1 for i in range(0,20,1)]
print(l1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [48]:
def f(l1):
    for i in range(0,len(l1),1):
        l1[i]=l1[i]+10
    print(l1)
l1=eval(input("Enter list:"))
print(l1)
l1.sort()
print(l1)
f(l1)

Enter list: [5,4,3,2,1]

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]
[11, 12, 13, 14, 15]

In [49]:
def f(e):
    if e>=0:
        return True
l1=eval(input("Enter positive and negative elements in list:"))
l1=list(filter(f,l1))
print("Positive list:",l1)

Enter positive and negative elements in list: [-1,0,1]

Positive list: [0, 1]

In [1]:
def f(w):
    return w.lower()
wl=eval(input("Enter uppercase words in list:"))
print(wl)
wl=list(map(f,wl))
print("Lowercase words in list:",wl)

Enter uppercase words in list: ["HELLO","WORLD"]

['HELLO', 'WORLD']
Lowercase words in list: ['hello', 'world']

In [2]:
def f(e):
    return pow(e,2)
sl=eval(input("Enter number in list:"))
print(sl)
sl=list(map(f,sl))
print("Square of numbers in list:",sl)

Enter number in list: [1,2,3,4,5]

[1, 2, 3, 4, 5]
Square of numbers in list: [1, 4, 9, 16, 25]

In [4]:
l1=[(x,y) for x in range(1,10+1,1) for y in range(1,10+1,1) if x%y==0]
print(l1)

[(1, 1), (2, 1), (2, 2), (3, 1), (3, 3), (4, 1), (4, 2), (4, 4), (5, 1), (5, 5), (6, 1), (6, 2), (6, 3), (6, 6), (7, 1), (7, 7), (8, 1), (8, 2), (8, 4), (8, 8), (9, 1), (9, 3), (9, 9), (10, 1), (10, 2), (10, 5), (10, 10)]

In [5]:
l1=eval(input("Enter temperature in celsius:"))
print("Celsius temperature in list:",l1)
for i in range(0,len(l1),1):
    l1[i]=float(9/5)*l1[i]+32.0
print("Farenheit temperature in list:",l1)

Enter temperature in celsius: [36.5,37,37.5,39]

Celsius temperature in list: [36.5, 37, 37.5, 39]
Farenheit temperature in list: [97.7, 98.60000000000001, 99.5, 102.2]

In [22]:
l1=[lambda x:x*2,lambda x:x*3,lambda x:x*4]
for f in l1:
    print(f(5),end=" ")
print()
print(l1[2](25))
print(l1[0](50))

10 15 20
100
100

In [31]:
import math as m
print(m)
x1,y1=eval(input("Enter first coordinate:"))
x2,y2=eval(input("Enter second coordinate:"))
p1,p2=[],[]
p1.append(x1)
p1.append(y1)
p2.append(x2)
p2.append(y2)
print(p1,p2)
d=m.sqrt(((p1[0]-p2[0])**2)+((p1[1]-p2[1])**2))
print("Distance=%f"%d)

<module 'math' (built-in)>

Enter first coordinate: 2,4
Enter second coordinate: 7,9

[2, 4] [7, 9]
Distance=7.071068

In [35]:
l1=eval(input("Enter list:"))
print(l1)
l1.sort()
print("Sorted list",l1)
i=len(l1)-1
n=len(l1)
if n%2!=0:
    median=l1[(i+1)//2]
else:
    median=(l1[i//2]+l1[(i+1)//2])/2
print("Median:",median)

Enter list: [2,9,1,7,4,8]

[2, 9, 1, 7, 4, 8]
Sorted list [1, 2, 4, 7, 8, 9]
Median: 5.5

In [49]:
import numpy as np
m=eval(input("Enter number of rows:"))
n=eval(input("Enter number of columns:"))
print(m,n)
print("Enter elements in matrix1:")
entries1=list(map(int,input().split()))
matrix1=np.array(entries1).reshape(m,n)
print(matrix1)
print("Enter elements in matrix2:")
entries2=list(map(int,input().split()))
matrix2=np.array(entries2).reshape(m,n)
print(matrix2)
print("Enter 0's in result:")
entries3=list(map(int,input().split()))
result=np.array(entries3).reshape(m,n)
print(result)
print("Addition on matrix:")
for i in range(0,len(matrix1),1):
    for j in range(0,len(matrix2),1):
        result[i][j]=matrix1[i][j]+matrix2[i][j]
print(result)

Enter number of rows: 2
Enter number of columns: 2

2 2
Enter elements in matrix1:

 1 2 3 4

[[1 2]
 [3 4]]
Enter elements in matrix2:

 5 6 7 8

[[5 6]
 [7 8]]
Enter 0's in result:

 0 0 0 0

[[0 0]
 [0 0]]
Addition on matrix:
[[ 6  8]
 [10 12]]

In [58]:
n=eval(input("Enter number of terms for fibonacci series:"))
l1=list()
a,b=0,1
if n==1:
    l1.append(a)
    print("Fibonacci series:",l1)
elif n==2:
    l1.append(a)
    l1.append(b)
    print("Fibonacci series:",l1)
elif n>=3:
    l1.append(a)
    l1.append(b)
    for i in range(3,n+1,1):
        c=a+b
        l1.append(c)
        a,b=b,c
    print("Fibonacci series:",l1)
s=0
for i in range(0,len(l1),1):
    if i%2==0:
        s=s+l1[i]
print("Sum of even-valued terms:",s)

Enter number of terms for fibonacci series: 5

Fibonacci series: [0, 1, 1, 2, 3]
Sum of even-valued terms: 4

In [61]:
#Data Structure: Tuple 
#Property: Immutable
#Storage: Similar or different or both data type elements

In [63]:
t1=(1,2,3)
print(t1,type(t1))

(1, 2, 3) <class 'tuple'>

In [64]:
t1=(1,1.5,1+2j,"tuple")
print(t1)

(1, 1.5, (1+2j), 'tuple')

In [65]:
t1=(1)
t2=(1,)
print(t1,type(t1))
print(t2,type(t2))

1 <class 'int'>
(1,) <class 'tuple'>

In [66]:
d1,d2=eval(input("Enter dividend and divisor:"))
q,r=divmod(d1,d2)
print("Quotient",q,"\nRemainder",r)

Enter dividend and divisor: 5,2

Quotient 2
Remainder 1

In [67]:
t1=eval(input("Enter tuple:"))
print(t1)
print(t1[0])
print(t1[len(t1)-1])
print(t1[0:3:1])
print(t1[::-1])

Enter tuple: (1,2,3,4,5)

(1, 2, 3, 4, 5)
1
5
(1, 2, 3)
(5, 4, 3, 2, 1)

In [68]:
t1=(1,2,3)
t1[0]=0
print(t1)

TypeError: 'tuple' object does not support item assignment

In [70]:
t1=(1,2,3,4,5)
del t1[0]
print(t1)

TypeError: 'tuple' object doesn't support item deletion

In [71]:
t1=(1,2,3)
print(t1)
del t1
print(t1)

(1, 2, 3)

NameError: name 't1' is not defined

In [75]:
t1,t2=(1,2,3),(4,5)
print(t1,t2)
print(t1+t2)
print(t1*2)
print(t1[(len(t1)-1)]*2)
print(1 in t1)
print(5 in t1)
print(1 not in t2)
print(5 not in t2)
print(max(t1))
print(min(t1))
print(sum(t1))
print(t1 is t2)
print(t1 is not t2)
t3=(0,1)
print(t3)
print(all(t1),all(t2))
print(all(t3))
print(any(t1),any(t2))
print(any(t3))
t4=(0,)
print(t4,all(t4),any(t4))

(1, 2, 3) (4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 1, 2, 3)
6
True
False
True
False
3
1
6
False
True
(0, 1)
True True
False
True True
True
(0,) False False

In [76]:
l=[1,2,3,4,5]
print(l,type(l))
s={1,2,3,4,5}
print(s,type(s))
st="tuple"
print(st,type(st))
print(tuple(l))
print(tuple(s))
print(tuple(st))
d={"1":1,"2":2,"3":3}
print(d,type(d))
print(d.keys(),d.values())
print(d.items())
print(tuple(d.keys()))
print(tuple(d.values()))
print(tuple(d.items()))
print(tuple(d))

[1, 2, 3, 4, 5] <class 'list'>
{1, 2, 3, 4, 5} <class 'set'>
tuple <class 'str'>
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
('t', 'u', 'p', 'l', 'e')
{'1': 1, '2': 2, '3': 3} <class 'dict'>
dict_keys(['1', '2', '3']) dict_values([1, 2, 3])
dict_items([('1', 1), ('2', 2), ('3', 3)])
('1', '2', '3')
(1, 2, 3)
(('1', 1), ('2', 2), ('3', 3))
('1', '2', '3')

In [3]:
mx,mn=0,0
def f(t1):
    mx=max(t1)
    mn=min(t1)
    return (mx,mn)
t1=eval(input("Enter tuple:"))
print(t1)
mx,mn=f(t1)
print("Maximum:",mx,"\nMinimum:",mn)

Enter tuple: (1,2,3,4,5)

(1, 2, 3, 4, 5)
Maximum: 5
Minimum: 1

In [8]:
t1=(1,2,3,4,5)
print(t1)
t1.pop()

(1, 2, 3, 4, 5)

AttributeError: 'tuple' object has no attribute 'pop'

In [9]:
t1.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'

In [10]:
t1.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [11]:
t1.insert(len(t1),6)

AttributeError: 'tuple' object has no attribute 'insert'

In [12]:
t1.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [13]:
t1.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [14]:
bio_data=eval(input("Enter bio data of 2 students in tuple:"))
print(bio_data)
for i in bio_data:
    print(i,end=" ")

Enter bio data of 2 students in tuple: ("Vikram",21,45),("Virat",22,50)

(('Vikram', 21, 45), ('Virat', 22, 50))
('Vikram', 21, 45) ('Virat', 22, 50)

In [17]:
l1=[1,2,3,4,5,5]
print(l1.index(1))
print(l1.count(5))
t1=(1,2,2,2,3,3)
print(t1.index(2))
print(t1.count(3))

0
2
1
2

In [18]:
t1=1,2,3,4,5
print(t1,type(t1))

(1, 2, 3, 4, 5) <class 'tuple'>

In [21]:
t1=[i*2 for i in range(0,10+1,1)]
print(t1,type(t1))
t1=tuple(t1)
print(t1,type(t1))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20] <class 'list'>
(0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20) <class 'tuple'>

In [23]:
def f(t1):
    t1=[i*2 for i in t1]
    return t1
t1=eval(input("Enter tuple:"))
print(t1)
t1=f(t1)
print(tuple(t1))

Enter tuple: 1,2,3,4,5

(1, 2, 3, 4, 5)
(2, 4, 6, 8, 10)

In [25]:
def f(*args):
    print(args,type(args))
f(1,2,3,4,5)

(1, 2, 3, 4, 5) <class 'tuple'>

In [26]:
t1=(4,3)
q,r=divmod(t1)
print(q,r)

TypeError: divmod expected 2 arguments, got 1

In [27]:
t1=(4,3)
q,r=divmod(*t1)
print(q,r)

1 1

In [35]:
t1=(1,2,3,4,5)
l1=[1,2,3,4,5]
l1=list(zip(t1,l1))
print(l1)

[(1, 1), (2, 2), (3, 3), (4, 4), (5, 5)]

In [36]:
st1="Hello"
st2="MySQL"
l1=list(zip(st1,st2))
print(l1)

[('H', 'M'), ('e', 'y'), ('l', 'S'), ('l', 'Q'), ('o', 'L')]

In [37]:
t1=((1,"Vikram"),(2,"Virat"),(3,"Vikrant"))
print(t1)
for index,name in t1:
    print(index,name,end="\n")

((1, 'Vikram'), (2, 'Virat'), (3, 'Vikrant'))
1 Vikram
2 Virat
3 Vikrant

In [39]:
t1=((1,"Vikram"),(2,"Virat"),(3,"Vikrant"))
print(t1)
for index,tuple in enumerate(t1):
    print(index,tuple,end="\n")

((1, 'Vikram'), (2, 'Virat'), (3, 'Vikrant'))
0 (1, 'Vikram')
1 (2, 'Virat')
2 (3, 'Vikrant')

In [42]:
t1=(5,1,3,2,4)
print(t1)
print(sorted(t1))

(5, 1, 3, 2, 4)
[1, 2, 3, 4, 5]

In [43]:
t1=(4,5)
print(t1)
x,y=t1
print(x,y)

(4, 5)
4 5

In [47]:
print("{},{},{}".format(1,2,3))
print("{2},{0},{1}".format(1,2,3))
print("{b},{a},{c}".format(a=1,b=2,c=3))

1,2,3
3,1,2
2,1,3

In [50]:
t1=("Vikram",22,45,5.5)
print("Name:%s, Age:%d, Weight:%i, Height:%.2f"%(t1[0],t1[1],t1[2],t1[3]))

Name:Vikram, Age:22, Weight:45, Height:5.50

In [52]:
t1=(4,5)
x,y=t1
print(x,y)
print(t1[1],t1[0])

4 5
5 4

In [61]:
import math as m
def circle(r):
    return (m.pi*r*r,2*m.pi*r)
r=eval(input("Enter radius:"))
print("Radius=%.2f"%(r))
area,circum=circle(r)
print("Area=%.2f"%(area),"\nCircumference=%.2f"%(circum))

Enter radius: 7

Radius=7.00
Area=153.94
Circumference=43.98

In [54]:
import math as m
print(m.pi)

3.141592653589793

In [58]:
print("%s, %i, %f"%("Vikram",23,5.5))

Vikram, 23, 5.500000

In [6]:
t1=(1,2,3,4,5)
for i in t1:
    print(i,end=" ")

1 2 3 4 5

In [7]:
t1=eval(input("Enter name,age,weight,height in tuples:"))
print(t1)
st=eval(input("Enter your choice yes/no for changing details:"))
new_t1=()
while st=="yes":
    n=eval(input("Enter name:"))
    a=eval(input("Enter age:"))
    w=eval(input("Enter weight"))
    h=eval(input("Enter height:"))
    i=0
    while i<len(t1):
        if t1[i][0]==n:
            new_t1=new_t1+(n,a,w,h)

        else:
            new_t1=new_t1+t1[i]
        i=i+1
    st=eval(input("Enter your choice yes/no for changing details:"))
for i in new_t1:
    print(i,end="\n")

Enter name,age,weight,height in tuples: (("Vikram",21,45,5.5),("Virat",22,50,6.2))

(('Vikram', 21, 45, 5.5), ('Virat', 22, 50, 6.2))

Enter your choice yes/no for changing details: "yes"
Enter name: "Vikram"
Enter age: 22
Enter weight 45
Enter height: 5.6
Enter your choice yes/no for changing details: "no"

Vikram
22
45
5.6
Virat
22
50
6.2

In [11]:
st="Python,R,SQL"
print(st)
print(st.split(","))
print(",".join(['Python', 'R', 'SQL']))

Python,R,SQL
['Python', 'R', 'SQL']
Python,R,SQL

In [12]:
gid=eval(input("Enter username@gmail.com:"))
print("Gmail ID:",gid)
username,domain=gid.split("@")
print("Username:",username)
print("Domain:",domain)

Enter username@gmail.com: "zionchrist21@gmail.com"

Gmail ID: zionchrist21@gmail.com
Username: zionchrist21
Domain: gmail.com

In [14]:
t1=eval(input("Enter both positive and negative elements in tuple:"))
print(t1)
def f(e):
    if e>0:
        return True
t1=list(filter(f,t1))
print("Positive element in tuple:",tuple(t1))

Enter both positive and negative elements in tuple: (-3,-2,-1,0,1,2,3)

(-3, -2, -1, 0, 1, 2, 3)
Positive element in tuple: (1, 2, 3)

In [25]:
def g(e):
    if e>0:
        return True
def f(*args):
    print(args,type(args))
    l1=list(args[0])
    print(l1)
    t1=tuple()
    s=0
    for i in range(0,len(l1),1):
        if l1[i]>0:
            t1=tuple(filter(g,l1))
            s=s+l1[i]
        else:
            pass
    return t1,s
t1=eval(input("Enter both positive and negative elements in tuple:"))
t1,s=f(t1)
print("Tuple with positive values:",t1)
print("Sum of the positive elements:",s)

Enter both positive and negative elements in tuple: (-3,-2,-1,0,1,2,3)

((-3, -2, -1, 0, 1, 2, 3),) <class 'tuple'>
[-3, -2, -1, 0, 1, 2, 3]
Tuple with positive values: (1, 2, 3)
Sum of the positive elements: 6

In [23]:
def f(*args):
    print(args,type(args))
    l1=list(args[0])
    print(l1)
    for i in l1:
        if i>0:
            print(i,end=" ")
t1=(1,2,3)
f(t1)

((1, 2, 3),) <class 'tuple'>
[1, 2, 3]
1 2 3

In [28]:
ques=["Name","Age","Weight","Height"]
ans=["Vikrant",23,50,5.6]
qa=list(zip(ques,ans))
print(qa)
for q,a in qa:
    print("What is your",q,"?")
    answer=eval(input("Enter:"))
    if answer==a:
        print(answer,"is correct answer!")
    else:
        print(answer,"is wrong answer!")

[('Name', 'Vikrant'), ('Age', 23), ('Weight', 50), ('Height', 5.6)]
What is your Name ?

Enter: "Vikram"

Vikram is wrong answer!
What is your Age ?

Enter: 25

25 is wrong answer!
What is your Weight ?

Enter: 50

50 is correct answer!
What is your Height ?

Enter: 5.6

5.6 is correct answer!

In [29]:
#Data Structure: Set 
#Property: Mutable
#Storage: Similar or different or both data type elements

In [33]:
s1={1,2,3}
print(s1,type(s1))
s1={1,1.5,2+3j,"Set"}
print(s1,type(s1))
s1={1,1,1,2,2,2,2,3,3}
print(s1)

{1, 2, 3} <class 'set'>
{1, (2+3j), 'Set', 1.5} <class 'set'>
{1, 2, 3}

In [40]:
l1=[1,2,3,4,5]
print(l1)
s1=set(l1)
print(s1)
t1=(1,2,3,4,5)
print(t1)
s1=set(t1)
print(s1)
st1="set"
print(st1)
s1=set(st1)
print(s1)
d1={"1":1,"2":2,"3":3}
print(d1)
s1=set(d1)
print(s1)
s1=set(d1.keys())
print(s1)
s1=set(d1.values())
print(s1)
s1=set(d1.items())
print(s1)

[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
set
{'s', 't', 'e'}
{'1': 1, '2': 2, '3': 3}
{'2', '1', '3'}
{'2', '1', '3'}
{1, 2, 3}
{('1', 1), ('2', 2), ('3', 3)}

In [45]:
s1={1,2,3,4,5}
s2={1,2,3}
print(s1,s2)
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 5} {1, 2, 3}
{1, 2, 3, 4, 5}
{1, 2, 3}
{4, 5}
{4, 5}

In [47]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
print(s1,s2)
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 5} {4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

In [48]:
s1={1,2,3}
s2={4,5,6}
print(s1,s2)
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

{1, 2, 3} {4, 5, 6}
{1, 2, 3, 4, 5, 6}
set()
{1, 2, 3}
{1, 2, 3, 4, 5, 6}

In [69]:
s1=set([1,2,3])
s2=set([4,5,6])
s1.update(s2)
print(s1)
s1.add(7)
print(s1)
s1.remove(7)
print(s1)
s1.remove(8)
print(s1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6}

KeyError: 8

In [70]:
s1.discard(6)
print(s1)
s1.discard(6)
print(s1)
s1.pop()
print(s1)
s1.pop(len(s1)-1)
print(s1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{2, 3, 4, 5}

TypeError: set.pop() takes no arguments (1 given)

In [72]:
print(len(s1))
s1.clear()
print(s1)

4
set()

In [86]:
s1={1,2,3,4,5}
s3={1,2,3,4,5}
print(7 in s1)
print(8 not in s1)
print(2 in s1)
print(5 not in s1)
print(s1 is s3)
print(id(s1),id(s3))
s2={1,2,3,4,5,6,7}
print(s1.issubset(s2))
print(s1<=s2)
print(s1.issuperset(s2))
print(s1>=s2)

False
True
True
False
False
1561051742944 1561051754144
True
True
False
False

In [115]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
print(s1.union(s2))
print(s1|s2)
print(s1.intersection(s2))
print(s1&s2)
s1.intersection_update(s2)
print(s1)
s1={1,2,3,4,5}
print(s1.difference(s2))
print(s1-s2)
s1.difference_update(s2)
print(s1)
s1={1,2,3,4,5}
print(s1.symmetric_difference(s2))
print(s1^s2)
s1.symmetric_difference_update(s2)
print(s1)
s1={1,2,3,4,5}
print(s1.copy())
print(s1.isdisjoint(s2))
s3={9,10}
print(s1.isdisjoint(s3))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 4, 5}
False
True

In [117]:
s1={1,2,3,4,5}
print(all(s1))
print(any(s1))
for i in enumerate(s1):
    print(i,end=" ")
print()
for index,set in enumerate(s1):
    print(index,set,end="\n")
print(max(s1))
print(min(s1))
print(sum(s1))
s1={4,2,3,1,5}
print(s1)
s1={4,2,3,1,5}
print(sorted(s1))

True
True
(0, 1) (1, 2) (2, 3) (3, 4) (4, 5)
0 1
1 2
2 3
3 4
4 5
5
1
15
{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

In [126]:
st=str("abc")
print(st,type(st))
st="abc"
print(st,type(st))

abc <class 'str'>
abc <class 'str'>

In [132]:
s1={"a","b","c"}
t1=tuple("abc")
print(s1,t1)
print(s1==t1)
s2={"c","a","b"}
print(s1==s2)
print(s1!=t1)

{'b', 'a', 'c'} ('a', 'b', 'c')
False
True
True

In [156]:
s1={}
print(s1,type(s1))
s1=set()
print(s1,type(s1))

{} <class 'dict'>

TypeError: 'int' object is not callable

In [134]:
s1={1,2,3}
print(s1[0])

TypeError: 'set' object is not subscriptable

In [136]:
s1={1,1.5,1+2j,"set",(1,2)}
print(s1)
s1={1,1.5,1+2j,"set",(1,2),[1,2]}
print(s1)

{1, 1.5, (1, 2), (1+2j), 'set'}

TypeError: unhashable type: 'list'

In [151]:
s1={"Hello World"}
for index,element in enumerate(s1):
    print(index,element,end="")

0 Hello World

In [159]:
"""l1=eval(input("Enter countries in list:"))
print(l1)
cs=sorted(set(l1))
print("Countries in sorted order:",cs)"""
print()

In [161]:
"""sq=set([x**2 for x in range(0,5+1,1)])
print(sq)
cu=set([x**3 for x in range(0,5+1,1)])
print(cu)
sq.update(cu)
print(sq)
sq.add(11*11)
sq.add(11**3)
print(sq)
print(sq.pop())
sq.remove(1331)
print(sq)
sq.clear()
print(sq)"""
print()

In [163]:
"""even=set([x for x in range(0,10+1,1) if x%2==0])
print(even)
odd=set([x for x in range(0,10+1,1) if x%2!=0])
print(odd)
prime=set()
for i in range(1,10+1,1):
    c=0
    for j in range(1,10+1,1):
        if i%j==0:
            c=c+1
    if c==2:
        prime.add(i)
print(prime)
composite=set()
for i in range(1,10+1,1):
    c=0
    for j in range(1,10+1,1):
        if i%j==0:
            c=c+1
    if c>2:
        composite.add(i)
print(composite)
print(all(prime),all(composite))
print(prime.issuperset(composite))
print(len(prime),len(composite))
print(sum(prime),sum(composite))"""
print()

In [164]:
"""even=set([x for x in range(0,10+1,1) if x%2==0])
print(even)
odd=set([x for x in range(0,10+1,1) if x%2!=0])
print(odd)
print(even.union(odd))
print(even|odd)
print(even.intersection(odd))
print(even&odd)
print(even.difference(odd))
print(even-odd)
print(even.symmetric_difference(odd))
print(even^odd)"""
print()

In [ ]:
#Data Structure: Dictionary
#Property: Mutable for values but Immutable for keys
#Storage: Similar or different or both data type elements

In [168]:
l=list()
print(l,type(l1))
d=dict()
print(d,type(d))
l1=[]
print(l1,type(l1))
d1={}
print(d1,type(d1))

[] <class 'list'>
{} <class 'dict'>
[] <class 'list'>
{} <class 'dict'>

In [170]:
d1={"Name":"Vikrant","Age":20,"Weight":50,"Height":6.0}
print(d1,type(d1))
d1=dict([("1",1),("2",2),("3",3)])
print(d1,type(d1))

{'Name': 'Vikrant', 'Age': 20, 'Weight': 50, 'Height': 6.0} <class 'dict'>
{'1': 1, '2': 2, '3': 3} <class 'dict'>

In [172]:
d1={x:x*2 for x in range(0,10+1,1)}
print(d1)
d1={x:x*2 for x in range(0,10+1,1) if x%2==0}
print(d1)

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}
{0: 0, 2: 4, 4: 8, 6: 12, 8: 16, 10: 20}

In [179]:
d1={"Name":"Vikrant","Age":20,"Weight":50,"Height":6.0}
print(d1["Name"])
print(d1.keys())
print(d1.values())
print(d1.items())
for index,key in enumerate(d1):
    print(index,key,end="\n")

Vikrant
dict_keys(['Name', 'Age', 'Weight', 'Height'])
dict_values(['Vikrant', 20, 50, 6.0])
dict_items([('Name', 'Vikrant'), ('Age', 20), ('Weight', 50), ('Height', 6.0)])
0 Name
1 Age
2 Weight
3 Height

In [184]:
d1={"Name":"Vikrant","Age":20,"Weight":50,"Height":6.0}
d1["Country"]="USA"
print(d1)
d1["Name"]="Vikram"
print(d1)
print(id(d1))
print(id(d1["Name"]))

{'Name': 'Vikrant', 'Age': 20, 'Weight': 50, 'Height': 6.0, 'Country': 'USA'}
{'Name': 'Vikram', 'Age': 20, 'Weight': 50, 'Height': 6.0, 'Country': 'USA'}
1561056916032
1561038404848

In [187]:
d1={'Name': 'Vikrant', 'Age': 20, 'Weight': 50, 'Height': 6.0, 'Country': 'USA'}
print(d1)
del d1["Country"]
print(d1)
d1.clear()
print(d1)
del d1
print(d1)

{'Name': 'Vikrant', 'Age': 20, 'Weight': 50, 'Height': 6.0, 'Country': 'USA'}
{'Name': 'Vikrant', 'Age': 20, 'Weight': 50, 'Height': 6.0}
{}

NameError: name 'd1' is not defined

In [192]:
d1={'Name': 'Vikrant', 'Age': 20, 'Weight': 50, 'Height': 6.0, 'Country': 'USA'}
print(d1.pop("Country"))
print(d1)
print(d1.pop("Religion",-1))
print(d1)
print(d1.popitem())
print(d1)
d1={'Name': 'Vikrant', 'Age': 20, 'Weight': 50, 'Height': 6.0, 'Country': 'USA',"Name":"Vikram"}
print(d1)

USA
{'Name': 'Vikrant', 'Age': 20, 'Weight': 50, 'Height': 6.0}
-1
{'Name': 'Vikrant', 'Age': 20, 'Weight': 50, 'Height': 6.0}
('Height', 6.0)
{'Name': 'Vikrant', 'Age': 20, 'Weight': 50}
{'Name': 'Vikram', 'Age': 20, 'Weight': 50, 'Height': 6.0, 'Country': 'USA'}

In [197]:
d1={1:1,1.5:1.5,1+2j:1+2j,(1,2):(1,2)}
print(d1)
d1={[1,2]:[1,2]}
print(d1)

{1: 1, 1.5: 1.5, (1+2j): (1+2j), (1, 2): (1, 2)}

TypeError: unhashable type: 'list'

In [198]:
d1={{1,2}:{1,2}}

TypeError: unhashable type: 'set'

In [201]:
d1={'Name': 'Vikrant', 'Age': 20, 'Weight': 50, 'Height': 6.0, 'Country': 'USA'}
print(d1)
print(sorted(d1.keys()))

{'Name': 'Vikrant', 'Age': 20, 'Weight': 50, 'Height': 6.0, 'Country': 'USA'}
['Age', 'Country', 'Height', 'Name', 'Weight']

In [206]:
d1={'Name': 'Vikrant', 'Age': 20, 'Weight': 50, 'Height': 6.0, 'Country': 'USA'}
print(d1)
print("Keys:")
for key in d1.keys():
    print(key,end=" ")
print("\nValues:")
for value in d1.values():
    print(value,end=" ")
print("\nKeys and Values:")
for key,value in d1.items():
    print((key,value),end=" ")

{'Name': 'Vikrant', 'Age': 20, 'Weight': 50, 'Height': 6.0, 'Country': 'USA'}
Keys:
Name Age Weight Height Country
Values:
Vikrant 20 50 6.0 USA
Keys and Values:
('Name', 'Vikrant') ('Age', 20) ('Weight', 50) ('Height', 6.0) ('Country', 'USA')

In [223]:
d1={'Name': 'Vikrant', 'Age': 20, 'Weight': 50, 'Height': 6.0, 'Country': 'USA'}
print(d1)
print(len(d1))
print(str(d1))
d1.clear()
print(d1)
d1={'Name': 'Vikrant', 'Age': 20, 'Weight': 50, 'Height': 6.0, 'Country': 'USA'}
print(d1)
print(d1.copy())
d2=dict.fromkeys(d1,-1)
print(d2)
d3=dict.fromkeys(d1)
print(d3)
print(d1.get("Name"))
print(d1.get("Religion",-1))
print("Name" in d1)
print("Religion" in d1)
print(d1.items())
print(d1.keys())
print(d1.values())

{'Name': 'Vikrant', 'Age': 20, 'Weight': 50, 'Height': 6.0, 'Country': 'USA'}
5
{'Name': 'Vikrant', 'Age': 20, 'Weight': 50, 'Height': 6.0, 'Country': 'USA'}
{}
{'Name': 'Vikrant', 'Age': 20, 'Weight': 50, 'Height': 6.0, 'Country': 'USA'}
{'Name': 'Vikrant', 'Age': 20, 'Weight': 50, 'Height': 6.0, 'Country': 'USA'}
{'Name': -1, 'Age': -1, 'Weight': -1, 'Height': -1, 'Country': -1}
{'Name': None, 'Age': None, 'Weight': None, 'Height': None, 'Country': None}
Vikrant
-1
True
False
dict_items([('Name', 'Vikrant'), ('Age', 20), ('Weight', 50), ('Height', 6.0), ('Country', 'USA')])
dict_keys(['Name', 'Age', 'Weight', 'Height', 'Country'])
dict_values(['Vikrant', 20, 50, 6.0, 'USA'])

In [239]:
d1={'Name': 'Vikrant', 'Age': 20, 'Weight': 50, 'Height': 6.0, 'Country': 'USA'}
print(d1)
d1.setdefault("Religion")
d1.setdefault("Name","Vikram")
print(d1.get("Religion"))
print(d1.get("Name"))
d1.setdefault("Language","English")
print(d1.get("Language"))
print(d1)
d2={"Degree":"B.Tech","CGPA":8.71}
print(d2)
d1.update(d2)
print(d1)
for key,value in d1.items():
    print((key,value),end="\n")
print("Language" in d1)
print("Language" not in d1)
print("Martial Status" in d1)
print("Martial Status" not in d1)

{'Name': 'Vikrant', 'Age': 20, 'Weight': 50, 'Height': 6.0, 'Country': 'USA'}
None
Vikrant
English
{'Name': 'Vikrant', 'Age': 20, 'Weight': 50, 'Height': 6.0, 'Country': 'USA', 'Religion': None, 'Language': 'English'}
{'Degree': 'B.Tech', 'CGPA': 8.71}
{'Name': 'Vikrant', 'Age': 20, 'Weight': 50, 'Height': 6.0, 'Country': 'USA', 'Religion': None, 'Language': 'English', 'Degree': 'B.Tech', 'CGPA': 8.71}
('Name', 'Vikrant')
('Age', 20)
('Weight', 50)
('Height', 6.0)
('Country', 'USA')
('Religion', None)
('Language', 'English')
('Degree', 'B.Tech')
('CGPA', 8.71)
True
False
False
True

In [240]:
d1={"Name":"Vikram","Class":10}
print("%s studies in class %d"%(d1["Name"],d1["Class"]))

Vikram studies in class 10

In [8]:
city_code={"Delhi":"DH","Mumbai":"MB","Kolkata":"KO"}
print(city_code)
print(city_code.get("Bangalore"))
print(city_code)
print(city_code.get("Bangalore"))
print(city_code.get("Bangalore","Not exists"))
print(city_code)
city_code.setdefault("Bangalore","Not exists")
print(city_code)
for key,value in city_code.items():
    print((key,value),end=" ")

{'Delhi': 'DH', 'Mumbai': 'MB', 'Kolkata': 'KO'}
None
{'Delhi': 'DH', 'Mumbai': 'MB', 'Kolkata': 'KO'}
None
Not exists
{'Delhi': 'DH', 'Mumbai': 'MB', 'Kolkata': 'KO'}
{'Delhi': 'DH', 'Mumbai': 'MB', 'Kolkata': 'KO', 'Bangalore': 'Not exists'}
('Delhi', 'DH') ('Mumbai', 'MB') ('Kolkata', 'KO') ('Bangalore', 'Not exists')

In [10]:
import math as m
print(m.pi)
cir={}
st="yes"
while st=="yes":
    r=eval(input("Enter radius:"))
    area={r:m.pi*pow(r,2)}
    cir.update(area)
    st=eval(input("Enter yes/no for continue:"))
for key,value in cir.items():
    print((key,value),end=" ")

3.141592653589793

Enter radius: 7
Enter yes/no for continue: "yes"
Enter radius: 14
Enter yes/no for continue: "no"

(7, 153.93804002589985) (14, 615.7521601035994)

In [16]:
d={x:x for x in range(0,10+1,1)}
d1=dict()
d1.update(d)
print(d)
print(d1)

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10}
{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10}

In [22]:
m_to_cm={x: x*100 for x in range(0,10+1,1)}
print(m_to_cm)
print(m_to_cm.keys())
print(m_to_cm.values())
temp=m_to_cm.values()
cm_to_m={x:x/100 for x in temp}
print(cm_to_m)
print(cm_to_m.keys())
print(cm_to_m.values())

{0: 0, 1: 100, 2: 200, 3: 300, 4: 400, 5: 500, 6: 600, 7: 700, 8: 800, 9: 900, 10: 1000}
dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
dict_values([0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000])
{0: 0.0, 100: 1.0, 200: 2.0, 300: 3.0, 400: 4.0, 500: 5.0, 600: 6.0, 700: 7.0, 800: 8.0, 900: 9.0, 1000: 10.0}
dict_keys([0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000])
dict_values([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0])

In [25]:
e_to_h={"Friend":"Mitr","Book":"Pushtak"}
print(e_to_h)
h_to_u={"Mitr":"Dost","Pushtak":"Kitaab"}
print(h_to_u)
for i in e_to_h.keys():
    print(i,"means in hindi",e_to_h[i],"and",e_to_h[i],"means in urdu",h_to_u[e_to_h[i]])

{'Friend': 'Mitr', 'Book': 'Pushtak'}
{'Mitr': 'Dost', 'Pushtak': 'Kitaab'}
Friend means in hindi Mitr and Mitr means in urdu Dost
Book means in hindi Pushtak and Pushtak means in urdu Kitaab

In [6]:
d1={1:0,2:1}
def fibo(n):
    if n not in d1:
        v=fibo(n-1)+fibo(n-2)
        d1[n]=v
    return d1[n]
n=eval(input("Enter number of terms:"))
fibo(n)
print("Fibo(",n,"):",fibo(n))

Enter number of terms: 5

Fibo( 5 ): 3

In [28]:
keys=["Name","Age","Country"]
values=["Vikrant",23,"USA"]
d1=zip(keys,values)
print(keys,values)
print(d1)
d1=dict(d1)
print(d1)

['Name', 'Age', 'Country'] ['Vikrant', 23, 'USA']
<zip object at 0x0000023E7618F940>
{'Name': 'Vikrant', 'Age': 23, 'Country': 'USA'}

In [29]:
st=eval(input("Enter string:"))
print(st)
d1={st:len(st)}
print(d1)

Enter string: "Hello World"

Hello World
{'Hello World': 11}

In [42]:
filename=eval(input("Enter filename:"))
file=open(filename,"r")
print(file.name)
print(file.mode)
print(file.closed)
#print(file.read())
counts=dict()
for line in file:
    words=line.split()
    for word in words:
        if word not in counts:
            counts[word]=1
        else:
            counts[word]=counts[word]+1
print(counts)
file.close()
file=open(filename,"r")
print(file.read())

Enter filename: "ASCII_Text_File.txt"

ASCII_Text_File.txt
r
False
{'Hello,': 1, 'I': 2, 'am': 1, 'back!': 1, 'hope': 1, 'you': 1, 'are': 1, 'enjoying': 1, 'python.': 1}
Hello, I am back!
I hope you are enjoying python.

In [52]:
st=eval(input("Enter string:"))
print(st)
st=st.lower()
print(st)
counts=dict()
for i in st:
    if i not in counts:
        counts[i]=1
    else:
        counts[i]=counts[i]+1
print(counts)
print("Histogram of frequencies of characters:")
for key,value in counts.items():
    print("key=",key,"\t:","*"*value,end="\n")

Enter string: "Hello World"

Hello World
hello world
{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}
Histogram of frequencies of characters:
key= h 	: *
key= e 	: *
key= l 	: ***
key= o 	: **
key=   	: *
key= w 	: *
key= r 	: *
key= d 	: *

In [49]:
print("*"*3)

***

In [55]:
marks=dict()
n=eval(input("Enter number of students:"))
for i in range(0,n,1):
    key=eval(input("Enter name:"))
    value=eval(input("Enter marks of 4 subjects in list:"))
    print(key,value)
    marks[key]=value
print(marks)
for key,value in marks.items():
    value=sum(value)
    marks[key]=value
print(marks)
max=0
for key,value in marks.items():
    if value>max:
        max=value
        topper=key
print("Topper is",topper,"with total marks=",value)

Enter number of students: 3
Enter name: "Vikram"
Enter marks of 4 subjects in list: [70,75,80,85]

Vikram [70, 75, 80, 85]

Enter name: "Vikrant"
Enter marks of 4 subjects in list: [60,65,70,75]

Vikrant [60, 65, 70, 75]

Enter name: "Virat"
Enter marks of 4 subjects in list: [80,85,90,95]

Virat [80, 85, 90, 95]
{'Vikram': [70, 75, 80, 85], 'Vikrant': [60, 65, 70, 75], 'Virat': [80, 85, 90, 95]}
{'Vikram': 310, 'Vikrant': 270, 'Virat': 350}
Topper is Virat with total marks= 350

In [58]:
d1={"Name":"Vikrant","Age":23,"Country":"India"}
print(d1)
i_d1={}
for key,value in d1.items():
    i_d1[value]=key
print("Inverted dictionary:",i_d1)

{'Name': 'Vikrant', 'Age': 23, 'Country': 'India'}
Inverted dictionary: {'Vikrant': 'Name', 23: 'Age', 'India': 'Country'}

In [59]:
d1={x:x**3 for x in range(0,10+1,1) if x%2!=0}
print(d1)

{1: 1, 3: 27, 5: 125, 7: 343, 9: 729}

In [62]:
st=eval(input("Enter string:"))
print(st)
letter_counts=dict()
for letter in st:
    letter_counts[letter]=letter_counts.get(letter,0)+1
print(letter_counts)

Enter string: "Hello"

Hello
{'H': 1, 'e': 1, 'l': 2, 'o': 1}